// Jest unit tests for {{slug}} block plugin

const { someUtility } = require('./{{slug}}.js');

describe('{{slug}} utilities', () => {
  it('should run a sample utility function', () => {
    expect(someUtility()).toBeDefined();
  });
});