# GitHub Sponsors and funding configuration for {{theme_name}}
github: ['lightspeedwp', '{{author_login}}']
custom:
  [
    'https://lightspeedwp.agency/contact/',
    'https://lightspeedwp.agency/services/',
  ]