{
  "slug": "copyright-date-block",
  "namespace": "lightspeedwp",
  "author": "Ashley Shaw",
  "version": "1.0.0",
  "description": "A WordPress block plugin that displays a copyright date.",
  "license": "GPL-2.0-or-later",
  "textdomain": "copyright-date-block",
  "projectName": "Copyright Date Block"
}